{
  "extends": ["dolmios", "next/core-web-vitals"],
  "ignorePatterns": ["next.config.js", "next-env.d.ts"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-unresolved": "off"
  }
}
